@media (max-width: 1200px) {
   .container {
      padding: 15px;
   }
   .todo__wrapper {
      width: 410px;
   }
}

@media (max-width: 992px) {
   .todo__wrapper {
      width: 400px;
   }
   .todo__info-icon {
      display: none;
   }

   .popup {
      top: 33%;
      left: 25%;
   }
}

@media (max-width: 768px) {
   .container {
      padding: 10px;
   }
   .todo__wrapper {
      width: 100%;
      max-width: 100%;
   }
   .popup {
      width: 70%;
      max-width: 70%;
      top: 30%;
      left: 16%;
   }
   .popup__form input {
      width: 100%;
      max-width: 100%;
   }
}

@media (max-width: 576px) {
   .todo__info-text {
      width: 250px;
      bottom: 60px;
   }
   .popup {
      top: 30%;
      left: 16%;
   }
   .popup__form {
      padding: 10px;
      label {
         margin-bottom: 10px;
         font-size: 15px;
      }
   }
   .popup__form-btns {
      margin-top: 10px;
   }
   .popup__close {
      top: 5px;
      right: 7px;
      font-size: 24px;
   }
}
